/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
body {
  font-family: 'Poppins', sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  line-height: 1.6;
}
/* LAYOUT CONTAINER  **** */
section, header {
  max-width:1100px;
  margin: 0 auto;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  font-size: 26px;
  font-weight: 700;
}

.logo span {
  color: #38bdf8;
}

nav a {
  color: #e5e7eb;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #38bdf8;
}

/* HERO */


.hero h1 {
  font-size: 48px;
}

.hero h1 span {
  color: #38bdf8;
}

.hero h3 {
  margin-top: 10px;
  font-weight: 400;
  color: #94a3b8;
}

.hero p {
  margin-top: 20px;
  max-width: 600px;
}

/* BUTTONS */
.buttons {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}

.primary {
  background: #38bdf8;
  color: #020617;
}

/* SECTIONS */
section {
  padding: 80px 60px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* PROJECTS */
.card {
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}

/* CONTACT */
.contact p {
  margin-top: 10px;
}
/* HERO SECTION */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  align-items: center;
  gap: 40px;
}

/* LEFT TEXT */
.hero-text h1 {
  font-size: 3rem;
  font-weight: 800;
}

.hero-text h1 span {
  color: #38bdf8;
}

.hero-text h3 {
  margin-top: 10px;
  font-weight: 500;
  opacity: 0.9;
}

.hero-text p {
  margin: 20px 0;
  max-width: 520px;
  line-height: 1.6;
}

/* RIGHT IMAGE */
.hero-image {
  display: flex;
  justify-content: center;
}

/* PHOTO WITH MODERN RING */
.photo-ring {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-ring::before {
  content: "";
  position: absolute;
  width:260px;
  height: 260px;
  border-radius: 50%;
  background: radial-gradient(circle, #38bdf8, transparent 65%);
  opacity: 0.8;
}

.photo-ring img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}

@media (max-width: 900px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-image {
    margin-top: 40px;
  }
}
/* Left text */
.hero-content {
  max-width: 55%;
}

}
